
*{
margin: 0px;
padding: 0px;
outline: none;
}
nav{
width: 100%;
height: 13vh;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 0px 20px;
box-sizing: border-box;
position: sticky;
top: 0px;
left: 10px;
z-index: 1;
}
.menu{
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 20px;
}
.menu a{
text-decoration: none;
color: black;
font-size: 1rem;
}
a:hover{
color: crimson;
}
button{
height: 50px;
width: 120px;
font-size: 18px;
border-radius: 50px;
}
.login{
background-color: white;
border: 1px solid black;
}
.login:hover{
border-color: crimson;
color: crimson;
}
.signup{
background-color: #FD6B52;
color: white;
border:none;
}
.out{
height: 100vh;
width: 100%;
position: relative;
}
.out img{
height: 100vh;
width: 100%;
}
.card{
position: absolute;
top: 100px;
left: 500px;
display: flex;
flex-direction: column;
align-items: center;
}
.c1{
color: white;
font-size: 3.5rem;
font-family: Armin Grotesk, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.para{
text-align: center;
}
.parag{
font-size: 25px;
text-align: center;
padding-top: 100px;
}
.c2{
padding-top: 100px;
}
.c2 button{
width: 400px;
color: white;
background-color: #FD6B52;
}
.outer{
height: 125vh;
width: 100%;
background: linear-gradient(to bottom,rgb(255 225 220 / 0.3) , rgb(255 225 220 / 0.3));
}
.outpara{
padding-top: 100px;
}
.outpara,.outpara1{
font-size: 40px;
text-align: center;
}
.incard{
width: 90%;
height: 90vh; 
display: flex;       
margin: 50px;    
}
.mincard{
width: 50%;
height: 20vh;
margin: 50px;
}
.mincard img{
height: 75vh;
width: 85%;
}
.maxcard{
height: 40vh;
width: 40%;
display: flex;
flex-direction: column;
margin-top: 52px;
padding-left:10px;
}
.mc{
height: 25vh;
width: 75%;
background-color: white;
border-radius: 10px;
padding: 20px 20px;
margin-bottom: 50px;
border: 1px solid #f86f5745;
font-size: 20px;
}
.outer1{
height: 120vh;
width: 100%;
background-color: white;
}
.hd1{
text-align: center;
padding-top: 100px;
padding-bottom: 55px;
}
.in1{
height: 80vh;
width: 80%;
margin-left: 150px;
display: flex;
}
.max1{
margin-right: 100px;
}
.max1,.min1{
height: 40vh;
width: 40%;
}
.ma1,.ma2,.ma3{
height: 10vh;
width: 85%;
border: 2px solid rgba(204, 225, 237, 0.372);
border-radius: 12px;
padding: 20px;
margin-bottom: 30px;
font-size: 20px;
}
.ma1 h4,.ma2 h4,.ma3 h4{
padding-bottom: 15px;
}
.min1 img{
height: 76vh;
width: 130%;
padding-bottom: 40px;
}
.vb{
display: flex;
justify-content: space-around;
align-items: center;
}
.min1 button{
width: 200px;
font-size: 10px;
color: aquamarine;
border-color: aquamarine ;
background-color: white;
}
.outr2{
height: 120vh;
width: 100%;
background:linear-gradient(to bottom ,rgb(231 221 207 / 0.5) , rgb(231 221 207 / 0.5)) ;
}
.hd2{
text-align: center;
padding-top: 100px;
padding-bottom: 60px;
font-size: 13px;
}
.in2{
height: 80vh;
width: 80%;
margin: 20px;
display: flex;
padding-left: 150px;
}
.max2 img{
height: 70vh;
width: 105%;
}
.max2{
height: 90vh;
width: 100%;
}
.min2{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.mb{
height: 20vh;
width: 70%;
/*border: 2px solid gray;*/
border-radius: 20px;
background-color: white;
margin: 20px;
} 
.mb h2{
text-align: start;
padding: 20px;
padding-bottom: 10px;
    
}
.mb p{
text-align: start;
padding: 20px;
font-size: 20px;
}

.features{
width: 70%;
display: flex;
justify-content: end;
}
.outr3{
height: 90vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
.lft,.rt{
        background: transparent;
        color: crimson;
        font-size: 15px;
        position: absolute;
        top:90%;
        padding: 5px;
        border-radius: 50%;
    }
        .lft{
            left: 40%;
        }
        .rt{
        right: 40%;
        }
.outr3 img{
width: 100%;
height: 100vh;
}
.in3{
width: 65%;
position: absolute;
top: 250px;
left: 265px;
font-size: 50px;
color: white;
text-align: center;
}
.in31{
position: absolute;
top: 450px;
left: 700px;
color: white;
font-size: 20px;
}
.outr4{
height: 23vh;
width: 100%;
background-color:white;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.outr6{
height: 100vh;
width: 100%;
background-color: rgb(231 221 207 );
}
.padd{
width: 80%;
height: 50vh;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 160px;
padding-left: 100px;
}
.in61 img{
height: 45vh;
width: 100%;    
}
.in62{
height: 50vh;
width: 60%;
}
.in62 h5{
width: 70%;
padding-top: 100px;
padding-left: 150px;
padding-bottom: 20px;
font-size: 30px;
}
.in62 p{
padding-left: 150px;
font-size: 17px;
width: 70%;
}
.fa-quote-right{
padding-left: 800px;
}
.outr7{
height: 100vh;
width: 100%;
background-color: white;
position: relative;
}
.in7{
height: 80vh;
width: 60%;
position: absolute;
top: 50px;
left: 310px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
details{
height: auto;
width: 100%;
}
summary p{
background-color: aqua;
}
.mincard76{
color: rgb(0 106 166 );
}
.outr8{
height: 100vh;
width: 100%;
background-image: url("https://prod.assets.thankfulregistry.com/assets/root/image1_pc-8dc0d9e05e9b792f8d25017eec82aef8d1f1b603ef95a6e10d7f1dd501dc1145.jpg");
background-size: cover;
text-align: center;
}
.outr8 h1{
padding-top: 100px;
font-size: 40px;
padding-bottom: 50px;
}
.outr8 button{
    width: 20%;
    border: none;
    background-color: #FD6B52;
    color: white;
}
footer{
height: 45vh;
width: 100%;
background-color: #444444;
color: white;
display: flex;
flex-direction: column;
}
.f1{
height: 30vh;
width: 97%;
border-bottom: 2px solid gray;
margin: 20px;
display: flex;
justify-content: space-between;
align-items: center;
text-indent: 60px;
}
.ft1,.ft2{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.ft11 p{
padding-left: 80px;
font-size: 25px;
}
.ft2{
font-size: 25px;
gap: 50px;
}
.ft2 h5{
padding-bottom: 25px;
}
.f2{
height: 10vh;
width: 95%;
margin: 10px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;
padding-left: 50px;
}
.ft2 h5:hover{
color: #FD6B52;
}
.ft3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
padding-bottom: 80px;
gap: 25px;
}
.ft3 button{
width: 90%;
}
.bt1{
padding-top: 100px;
}
.bt1 button:hover{
background-color: #FD6B52;
color: white;
}
.bt2{
width: 100%;
}
.bt2 button{
background-color: transparent;
color: white;
border: 2px solid white;
}
.bt2 button:hover{
color: #FD6B52;
border: 2px solid #FD6B52;
}
.f2 i:hover{
color: #FD6B52;
}
.outr5{
height: 150vh;
width: 100%;
background: linear-gradient(to bottom,rgb(255 225 220 / 0.3) , rgb(255 225 220 / 0.3));
position: relative;
}
.in51{
padding-top: 130px;
text-align: center;
font-size: 14px;
}
.in52{
height: 85vh;
width: 33%;
border-radius: 50px;
background-color: white;
position: absolute;
top: 240px;
left: 540px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.im{
height: 100vh;
}
.get button{
width: 100%;
border: none;
background-color: #FD6B52;
color: white;
}
.pad1{
margin-bottom: 20px;
}
.order{
display:flex;
gap: 50px;
}
.one{
text-align: center;
padding-bottom: 50px;
} 
.one button{
background-color: #FD6B52;
border: none;
width: 150%;
height: 3vh;
color: white;
}
.in53{
position: absolute;
top: 1100px;
left: 550px;
width: 35%;
display: flex;
justify-content: start;
align-items: center;
}
.para{
padding-left: 25px;
font-size: 25px;
}
.backimg{
position: relative;
}
.inimg{
position: absolute;
top: 50px;
left: 25px;
}
.inimg{
font-size: 25px;
text-align: center;
color: #FD6B52;
}



